{
  "env": {
    "browser": true,
    "jquery": false,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style":"off",
    "indent":"off",
    "strict":0,
    "comma-dangle":"off",
    "no-extranesu-dependencies":"off"
  },
  "extends":"airbnb-base"
}